/*
colors:
#4568dc soft blue
#b06ab3 blue
*/


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*
Regular 400
Bold 700
*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*

*/

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    overflow-y: scroll;
}

.body {
    box-sizing: border-box;
    overflow-y: auto;
}

.cabecalho {
    background: linear-gradient(to right, #4568dc, #b06ab3);
    height: 30px;
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

}

.cabecalho__imagem {
   width: 200px;
   position: relative;
   right: 67%;
}


.navegacao a {
    text-decoration: none;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-right: 15px;
}

.apresentacao__slogan__conteiner {
    padding-left: 100px;
}

.apresentacao__slogan {
    background: linear-gradient(to right, #4568dc, #b06ab3);
    color: white;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;

}


.apresentacao__slogan__conteiner__titulo {
    /* border: 2px solid red; */
    font-size: 40px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__slogan__conteiner__subtitulo {
    /* border: 2px solid yellow; */
    font-size: 19px;
    width: 630px;
}

.apresentacao__slogan__conteiner__link__botao {
    background-color: white;
    color: black;
    border: none;
    border-radius: 2px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 15px;
    height: 45px;
    width: 140px;

}

.btnWhatsapp {
    color: black;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}

.apresentacao__slogan__conteiner #flechinha {
    height: 30px;
    position: relative;
    left: 35%;
    top: 45%;
}

.apresentacao__sobre {
    height: 400px;
    background: #0F172A;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    text-align: center;

}

.apresentacao__sobre .active {
    opacity: 1;

}

.apresentacao__sobre__imagem {
    width: 400px;
    padding: 40px;
}

.apresentacao__sobre__paragrafo {
    width: 1000px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.apresentacao__servicos {
    background-color: white;
    height: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 100px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;

}
.apresentacao__servicos .active {
    opacity: 1;

}

.apresentacao__servicos__consultoria {
    width: 710px;
    margin: 100px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}



.apresentacao__servicos__consultoria__titulo {
    font-size: 12px;
    gap: 50px;
    color: gray
}

.apresentacao__servicos__consultoria__paragrafo {
    font-size: 12px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__servicos__integracoes {
    width: 710px;
    font-size: 20px;
    margin-top: 100px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.apresentacao__servicos__integracoes__titulo {
    font-size: 12px;
    padding-bottom: 10px;
    color: gray
}

.apresentacao__servicos__integracoes__paragrafo {
    font-size: 12px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__servicos__arquitetura {
    width: 710px;
    margin: 100px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.apresentacao__servicos__arquitetura__titulo {
    font-size: 12px;
    padding-bottom: 10px;
    color: gray
}

.apresentacao__servicos__arquitetura__paragrafo {
    font-size: 12px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.apresentacao__servicos__numeros {
    background-color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.apresentacao__servicos__numeros__requisicoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 80%
}

.apresentacao__servicos__numeros__requisicoes_numero {
    font-size: 36px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__servicos__numeros__requisicoes_texto {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__servicos__numeros__clientes__satisfeitos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 57%
}

.apresentacao__servicos__numeros__clientes__satisfeitos__quantidade {
    font-size: 36px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__servicos__numeros__clientes__satisfeitos__texto {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__servicos__anos__experiencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 33%
}

.apresentacao__servicos__anos__experiencia__quantidade {
    font-size: 36px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__servicos__anos__experiencia__texto {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__servicos__horas__suporte {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 15%
}

.apresentacao__servicos__horas__suporte__numero__horas {
    font-size: 36px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__servicos__horas__suporte__texto {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__avaliacao__clientes {
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*
TERMINAR O CARROSEL

*/

.carousel__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
}

.carousel__slide {
    width: calc(100% / 3);
    border-radius: 12px;
    padding: 32px 24px;
    text-align: center;
    display: none;
}

.carousel__slide.shown {
    display: initial;
}

.carousel__actions {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    gap: 8px;
}

.carousel__bol {
    background-color: #C2C2C2;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.carousel__bol.selected {
    background-color: #161616;
}

.apresentacao__avaliacao__clientes__imagem__virgula {
    width: 30px;
}

.contato {
    background: linear-gradient(to right, #b06ab3, #4568dc), url("../../assests/images/wavy-bg.svg") center/cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    gap: 15px;
}

.contato .active{
    opacity: 1;
}

.contato__titulo {
    color: white;
    font-size: 35px;
}

.btn__Contato {
    color: black;
    border: none;
    border-radius: 2px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 15px;
    height: 45px;
    width: 140px;
}

.btn__Contato__Style {
    color: black;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}

.newsletter {
    background: #0F172A;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.newsletter .active{
    opacity: 1;
}

.newsletter__conteiner {
    border: 2px solid white;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.newsletter__titulo {
    color: white;
    font-size: 35px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;

}

.newsletter__descricao {
    font: 10px;
    color: #808080;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inputTextButton {
    height: 20px;
    background-color: white;
    border: solid 2px red;
    border: none;
    padding: 15px;
    position: relative;
}

.inputTextButton__input {
    border: none;
    outline: none;
    width: 585px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inputTextButton__button {
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    color: black;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.rodape {
    background-color: black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo__image {
    height: 40px;
}

.images__conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.instagram__image {
    height: 20px;
}

.linkedin__image {
    height: 20px;
}

.rodape__direitos {
    color: gray;
    font-size: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.whatsappBtnImage{
    height: 100px;
    position: absolute;
    position: fixed;
    bottom: 20px; 
    right: 20px;
    z-index: 999;
    cursor: pointer;
}